<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>Hello, Rendr Routes!</title>

    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">

    <section id='content' class='container'>
      {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
